/* SMALL PHONES: 0 to 480px */
@media only screen and (max-width: 480px){}


/* NORMAL PHONES: 481px to 767px */
@media only screen and (max-width: 767px){
    body{font-size: 16px;}

    section{padding: 40px 0;}

    header li{display: none;}

    .header-words{
        margin-left: 30%;
        position: absolute;
        top: 40%;
        transform: translate(0, 0);
    }

    .header-words p{width: 45%;}

    h1 {
        line-height: 150%;
        width: 45%;
    }
    
    h2{font-size: 110%;}
    
    h3{font-size: 100%;
        margin-bottom: 0;
    }

    .my-profile{
        position: static;
        border: 2px solid black;
    }

    .experience{
        display: inline-table;
        margin-left: 10%;
}

    .col-1-of-3{
        margin-top: 20px;
        width: 90%;
        border: none;
        padding: 5%;
    }

    .col{width: 100%;}

    #comments{display: inline-table;}


    .skills{
        margin: 0%;
        width: 100%;
        font-size: 80%;
        display: inline-table;
    }
    .col-skills{
        text-align: center;
        margin-bottom: 20px;
        width: 100%;
        padding: 0 10%;
  
    }
}



/* SMALL TABLETS: 768px to 1023px */
@media only screen and (max-width:1023px){

    body{font-size: 18px;}

    .header-words{transform: translate(-35%, -50%);}

    .my-profile{
        margin: 0 20%;
        top: 80%;
    }

    .comments-img img{width: 500px; }

    blockquote{
        width: 100%;
        margin-left: 0px;
        padding-right: 15%;
    }

    .skills{margin-left: 1%;}
}


/* TABLETS: 1024px to 1200px */
@media only screen and (max-width: 1200px){

    body{line-height: 150%;}

    header img{
        width: 200px;
        margin-left: 50px;
    }

    h1{margin-bottom: 20px;}

    .header-words{
        width: 1040px;
        left: 55%;
    }

    header li{margin: 40px 20px;}

    blockquote{margin-left: 50px;}
    
}



